:root {
  --background-color: #1C1C1C;
  --primary-text-color: #E5E5E5;
  --secondary-text-color: #B0B0B0;
  --accent-color: #4A4A4A;
  --highlight-color: #FFFFFF;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  max-width: 1200px;
}
  
h1 {
  font-size: 3em;
  margin: 0;
}

.page-title {
  font-size: 1em;
  margin: 0;
  text-align: center;
  color: var(--primary-text-color);
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}