.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition: opacity 1s ease-in-out;
  }
  
  h1 {
    font-size: 3em;
    margin: 0;
  }
  