:root {
  --background-color: #1C1C1C;
  --primary-text-color: #E5E5E5;
  --secondary-text-color: #B0B0B0;
  --accent-color: #4A4A4A;
  --highlight-color: #FFFFFF;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--background-color);
  }

  .navigation:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: linear-gradient(to bottom, 
    #1C1C1C 20%, 
    #4A4A4A 50%,                
    #1C1C1C 80% 
  );
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
  }
  
  .navigation li {
    margin: 20px 0;
    position: relative;
  }
  
  .navigation a {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-size: 1.25em;
    transition: color 0.3s;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
  }
  
  .navigation a:hover {
    color: var(--highlight-color);
    text-shadow: 0 0 1.5rem rgba(255, 255, 255, 0.1);
  }

  .blob {
    position: absolute;
    width: 300px;
    height: 300px;
    opacity: 0;
    z-index: 0;
    transform: translate(-20%, -20%);
  }
  