.navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fffefe;
  }

  .navigation:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: linear-gradient(to bottom, 
    rgba(255, 255, 255, 0) 20%, 
    #9f9f9f 50%,                
    rgba(128, 128, 128, 0) 80% 
  );
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
  }
  
  .navigation li {
    margin: 20px 0;
    position: relative;
  }
  
  .navigation a {
    color: rgb(99, 99, 99);
    font-size: 1.25em;
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
    z-index: 1;
  }
  
  .navigation a:hover {
    color: #ffffff;
  }

  .blob {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: black;
    border-radius: 20px;
    z-index: 0;
  }
  