:root {
  --background-color: #1C1C1C;
  --primary-text-color: #E5E5E5;
  --secondary-text-color: #B0B0B0;
  --accent-color: #4A4A4A;
  --highlight-color: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

.app {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 1000px;
  height: 100%;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}