html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
}

main {
  flex: 1;
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
